<style>
  .about-name {
    font-size: 1.5em;
    font-weight: bold;
    display: inline;
    
  }
</style>

<footer class="whatisthis">
  <hr />
  <div class="row">
    <!-- Column 1 -->
    <div class="column small-12 medium-6">
      <figure class="full-figure">
	<img src="/static/img/portrait.jpg" alt="Zachary Katz">
      </figure>
    </div>

    <!-- Column 2 -->
    <div class="column small-12 medium-6">
      <!-- About Section -->
      {{ if isset .Site.Params "about" }}
      <div class="about-section">
        {{ range $.Site.Params.about }}
        <p>
          <strong class="about-name">{{ .name }}</strong> {{.pronouns}} <br>
          {{ .title }}<br>
          <a href="https://glaciology.mines.edu/" target="_blank">{{ .lab }}</a><br>
          {{ .dept }}<br>
          {{ .school }} {{ .loc }}
        </p>
        {{ end }}
      </div>
      {{ end }}

      <h1 id="education">Education</h1>
      {{ if isset .Site.Params "education" }}
      <ul class="ul-edu fa-ul">
	{{ range $.Site.Params.education }}
	<li><i class="fa-li fa fa-graduation-cap"></i>
          {{ .course }}, {{ .year }} ({{ .institution }})
        </li>
        {{ end }}
      </ul>
      {{ end }}
      <h1 id="contact">Contact</h1>
      <ul class="fa-ul">
	{{ range $.Site.Params.social }}
	<li><i class="fa-li {{ .icon_pack }} {{ .icon_pack}}-{{ .icon }}" style="padding-top:3px;"></i><a href="{{ .link }}">{{ .text }}</a>{{ if .site}} on {{ .site }}{{ end }}</li>
	{{ end }}
      </ul>
    </div>
  </div>
</footer>
