{{ define "main" }}
{{ $posts_title := index .Site.Params "posts_title" | default "Posts" }}
{{ $posts_count := index .Site.Params "posts_count" | default 2 }}
{{ $pubs_title := index .Site.Params "pubs_title" | default "Publications" }}
{{ $pubs_count := index .Site.Params "pubs_count" | default 5 }}
<div class="row">
  <p>
    Zachary is a glaciologist and PhD student in the Mines Glaciology Lab at the
    Colorado School of Mines. He is interested in how tidal processes impact
    ice stream dynamics.
  </p> 
{{ end }}
